<!-- סתם ניסוי בבקשה לא להוריד בציון :) -->

<p-splitter
  [style]="{ height: '630px', color: 'black', backgroundColor: 'lightgray' }"
  layout="vertical"
>
  <ng-template
    class="col flex align-items-center justify-content-center"
    pTemplate
  >
    Welcome to Raphael's grocery store. Here you can find all the products at
    the best prices in the market! Free deliveries for all to the appropriate
    areas. Continue good shopping!
  </ng-template>
  <ng-template
    class="col flex align-items-center justify-content-center"
    pTemplate
  >
    There’s nothing like a day of shopping to make you feel good. Whether you’re
    buying something for yourself or for someone else, the sense of satisfaction
    you get from finding the perfect item is hard to beat. And when it comes to
    shopping, there’s no need to stick to just one type of store. From
    department stores to boutiques, there’s a world of shopping possibilities
    out there. If you’re looking for a little bit of everything, department
    stores are a great place to start. You can find everything from your
    favorite dress and accessories to home goods and electronics. Plus, many
    department stores have special sections devoted to different types of
    products, so you can really focus on what you’re looking for. Just be
    prepared to spend some time browsing! If you’re looking for something
    specific, boutique shops may be a better option.
    <hr />
    Shopping is one of my favorite activities. I love to browse through stores
    and find new things to buy. I also enjoy finding good deals on items. One of
    my favorite shopping trips is when I go to a mall and find several stores
    that have sales. I can spend hours looking for the best deals. Another thing
    I like about shopping is that it’s a way to treat myself. If I’ve had a
    tough week at work, I’ll often go shopping and buy something nice for
    myself. It’s a way to relax and take a break from stress. Shopping can also
    be fun when you go with friends or family members. We often have laughed
    while we were shopping together. Overall, I enjoy shopping and think it’s a
    great way to spend some free time. It’s also a great way to treat yourself
    or buy gifts for others.
  </ng-template>
</p-splitter>
